.vscode/
venv/
migrations/
__pycache__/
*.pyc
media/
db.sqlite3
.idea/

.DS_Store
node_modules
/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?